[submodule "inventree-app"]
	path = src/inventree-app.git
  url = git@github.com:i8degrees-dockerfiles/inventree-app.git
	branch = dev
[submodule "inventree-mobile-app-apk-builder"]
	path = src/inventree-mobile-app-apk-builder.git
  url = git@github.com:i8degrees-dockerfiles/inventree-mobile-app-apk-builder.git
	branch = dev
